@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body {
	font-family: "Lato", sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	background: rgba(255,255,255,0.7);
	border-radius: 14px 0 0 0	;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 14px;
	color: black;
	display: block;
	transition: 0.3s;
}
.sidenav div{
	/*margin-top: 80%;
	margin-left: 50%;*/
	position: absolute;
	bottom: 100px;
	right: 0;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
.dropbtn {
	color: white;
	padding: 16px;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;	
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: transparent;
	color: lightblue;
}


button {
	margin-top: 2px;
	margin-right: 20px;
	margin-left: -8px;
	background-color: Transparent;
}


*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.li_img {
	border-radius: 50%;
	width: 53px;
	margin-top: 10px;
}
.img_pers{
	border-radius: 50%;

}


.navbar{
	width: 100%;
	margin: 0px;	
	height: 60px;
	background: transparent;
	padding: 0 50px;
	border-radius: 3px;

}


ul.menu{
	display: flex;
}


.navbar.navbar_2 ul.social_items a{
	margin: 0 5px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 25px;
	transition: all 0.2 ease;

}



.navbar1{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}


.navbar.navbar1 .menu a{
	height: 60px;
	padding: 20px 12px;	

}

.navbar.navbar1 .menu a:hover,
.navbar.navbar1 .menu a.active{
	border-bottom: 3px solid #505978;
}


.apdp:link {
  text-decoration: none;
}

.apdp:visited {
  text-decoration: none;
}

.apdp:hover {
  text-decoration: none;
}

.apdp:active {
  text-decoration: underline;
}