*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
}

#rt{
	margin-top: 220px;
    background: linear-gradient(89deg,#43cea2 0%,#185a9d 100%);

}


h2{
	
	font-size: 3em;
	font-weight: 800;
	color: #fff;
	

}



h2 span{

	color: #43cea2;
	text-shadow: 2px 2px 10px black;
}

.pizza {

}
