@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');


body {
  font-family: "Lato", sans-serif;
} 

/*.d{
	margin-top: 25%;
}

.grid-container{
    display: grid;
    
    grid-gap: 10px;
    
    grid-template-areas: 
      "a z d d  "
      ". . d d"
      "c e d d ";
      

}*/

/*.a{
    grid-area: a;
}
.z{
    grid-area: z;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}*/
.bt{
	/*background: linear-gradient(89deg,#8E0E00 0%,#1F1C18 100%);*/
  background: linear-gradient(89deg,#43cea2 0%,#185a9d 100%);

}
.bl{
	background: linear-gradient(89deg,#000000 ,#434343 );
}

.w-25 .img_user{
  border: solid white;
  background-color: white;
  border-radius: 50%;
  border-width: 3px;
}


div .img_user{
  border: solid white;
  background-color: white;
  border-radius: 50%;
  border-width: 2px;
}
.test{
 

}